<mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button (click)="homeUsuario()">TechShop</button>
    <span class="spacer"></span>
    <button (click)="carritoUsuario()"
        mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button (click)="historialUsuario()"
        mat-icon-button>
      <mat-icon>shopping_bag</mat-icon>
    </button>
    <span>{{nombre}} </span>
    <button (click)="perfilUsuario()"
        mat-icon-button>
      <mat-icon>face</mat-icon>
    </button>
    <button (click)="logOut()"
        mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
