<div class="card">
    <div class="flex align-items-center justify-content-center mt-8 bg-bluegray-900">
    <div class="grid">
        <!-- panel imagen -->
        <div class="col">
            <p class="text-5xl">Registra tus datos</p>
        </div>
        <p-divider layout="vertical"></p-divider>
        <!-- panel formulario -->
        <div class="col">
            <form autocomplete="off" [formGroup]="form" (ngSubmit)="registrar()">

                <!-- Nombre -->
                <div class="field grid">
                    <label for="name" class="col-fixed">Nombre</label>
                    <div class="col">
                        <input id="name" 
                                formControlName="name"
                                type="text" 
                                class="inputfield" 
                                placeholder="Nombre" 
                                pInputText
                                
                                >
                    </div>
                    <span class="text-pink-500" *ngIf="campoValidado('name')">
                        {{mensajeNombre}}
                    </span>
                </div>
                
            <!-- Usuario -->
                <div class="field grid">
                    <label for="usuario" class="col-fixed">Usuario</label>
                    <div class="col">
                        <input id="usuario" 
                                formControlName="username"
                                type="text" 
                                class="inputfield" 
                                placeholder="Usuario" 
                                pInputText>
                    </div>
                    <span class="text-pink-500" *ngIf="campoValidado('username')">
                        {{mensajeUsuario}}
                    </span>
                </div>
          
            <!-- Password -->
          
                <div class="field grid">
                    <label for="password" class="col-fixed">Contraseña</label>
                    <div class="col">
                        <p-password id="password" 
                                formControlName="password"
                                type="password" 
                                class="inputfield" 
                                placeholder="Contraseña" 
                                >
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">Indicaciones</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>Al menos una minuscula</li>
                                    <li>Al menos una MAYUSCULA</li>
                                    <li>Al menos un numer0</li>
                                    <li>Minimo 8 caracteres</li>
                                </ul>
                            </ng-template>
                        </p-password>    
                    </div>
                </div>

            <!-- Email -->
            <div class="field grid">
                <label for="email" class="col-fixed">Correo</label>
                <div class="col">
                    <input id="email" 
                            formControlName="email"
                            type="text" 
                            class="inputfield" 
                            placeholder="Correo" 
                            pInputText
                            required
                            >
                </div>
                <span class="text-pink-500" *ngIf="campoValidado('email')">
                    {{mensajeEmail}}
                </span>
            </div>

            <!-- Submit -->
                <div class="col">
                    <button pButton 
                        label="Registrar"
                        type="submit"
                        [disabled]="form.invalid"
                ></button>
                </div>
            </form>
        </div> 
    </div>
    </div>
</div>

<!-- <pre>{{form.controls.name.errors | json}} </pre>
<br>
<pre>{{form.controls.username.errors | json}} </pre>
<br>
<pre>{{form.controls.password.errors | json}} </pre>
<br>
<pre>{{form.controls.email.errors | json}} </pre>
<br> -->


